* {
  margin: 0;
  padding: 0;
  border: 0;
}
li {
  list-style-type:none;
}
#content {
  position: relative;
  width: 300px;
  height: 300px;
  float: left;
}
#content li, #begin{
  position: absolute;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  border: 1px solid #3f3f31;
  background: #333;
  color: #fff;
  text-decoration: none;
}
#begin {
  color: #bf4;
}
#content li.current{
  background: #090;
}
#begin{
  left: 100px;
  top: 100px;
}
#dashboard{
  height:150px;
  line-height: 30px;
  overflow: hidden;
  float: left;
  width: 240px;
  margin: 100px;
}
